<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BSR_PDF_UPLOADER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" /></startup><userSettings>
        <BSR_PDF_UPLOADER.Properties.Settings>
			<setting name="after_action" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="after_action_folder" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="bsr_base" serializeAs="String">
				<value>GAS</value>
			</setting>
			<setting name="bsr_pass" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="bsr_user" serializeAs="String">
				<value>BSR</value>
			</setting>
			<setting name="custom_detector" serializeAs="String">
				<value>^(\d+[а-яА-Я]{0,2})-(\d+)-(\d+)(.*)</value>
			</setting>
			<setting name="custom_replace" serializeAs="String">
				<value>$1-$2/$3%</value>
			</setting>
			<setting name="first_launch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="log_folder" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="replace_mode" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="search_folder" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="use_custom_detector" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="use_log" serializeAs="String">
				<value>False</value>
			</setting>
		</BSR_PDF_UPLOADER.Properties.Settings>
    </userSettings>
</configuration>
